{% extends 'base.html.twig' %}

{% block title %}Chaapitres{% endblock %}

{% block body %}


<div class="example-wrapper">
    {% if app.user %}
           <h1>Chapitres :</h1>     
    {% endif %}
</div>
{% endblock %}