{% extends 'base.html.twig' %}
{# {% extends 'user/userDashboard.html.twig' %} #}

{% block content_title %}The Title of the Page{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}
{% block title %}Adrar{% endblock %}

    {% block body %}
    
    {% if app.user %}
    <div class="example-wrapper">
            <h1>
                Bienvenue sur votre plateforme de cours {{ app.user.getUserName() }} !
            </h1>   
        </div>
   {% endif %}

{% endblock %}

