{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="example-wrapper">
    {% if app.user %}
                <div class="mb-3">
                    Bienvenue sur votre plateforme de cours ! {{ app.user.getUserName() }}
                </div>
            {% endif %}
</div>
{% endblock %}
